bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/CreoHub.API/appsettings.json
/CreoHub.API/appsettings.Development.json
CreoHub.API/ffmpeg/ffmpeg.exe
CreoHub.API/ffmpeg/ffprobe.exe
/publish/
.github/workflows/db-backup.yml
